.tip_box {
    background-color: #84eb76;
    width: auto;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.tip_text b{
    margin-left: 0.8em;
}

.warning_box {
    margin: 8px 0;
    width: 39%;
    background-color: #ffffff;
    border-radius: 25px;
    border-style: solid;
    border-width: 0px;
}

.warning_text {
    margin-left: 0em;
    color: #ff0000;
}

hr {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color:#000000;
    border: 0 none;
}

.form h3 {
    display: inline;
}

.aside {
    background-color:  #84eb76;  
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    padding-right: 8px;
    padding-left: 6px;
}

.input input, select {
    width: 100%;
    font-size: 90%;
    padding: 8px 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.radio label, input {
    margin-right: 1em;
}

.submit_btn {
    width: auto;
    padding: 6px 10px;
    margin: 7px 0;
    background-color: #79b5fa;
    border-color: #000000;
    font-size: 110%;
    font-weight: 545;
    border-style: solid;
    border-width: 2px;
}

.submit_btn:hover { 
    background-color: #61dafb;
}
