.course_lookup {
    width: 95%;
    margin: 0 auto;
}

.submit_form {
    width: 95%;
    margin: 0 auto;
}

h3 {
    display: inline;
}

.submit_form textarea {
    width: 100%;
    resize: none;
}

.submit_info {
    background-color: #ffffff;
    border-style: solid;
    padding-left: 10px;
    border-width: 1px;
    margin-bottom: 20px;
    font-size: 15px;
}

.remaining_chars {
    float: right;
}

.file_inputs {
    list-style: none;
    padding: 10px 10px;
}

.upload_form input {
    margin-top: 10px;
}