body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

#inner_header {
  width: 50%;
  margin: 0 auto;
}

#outer_header {
  background-color: #00b900;
}

#header_separator {
  height: 0.5em;
  background-color: #000000;
}

#inner_body {
  width: 50%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 90%;
  border-style: solid;
}

#outer_body {
  background-image: url("pipes.png");
  height: 100%;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00b900;
}

.left {
  float: left;
}

.right {
  float: right;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5em;
  text-decoration: none;
}

#logo {
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 0.3em;
  font-size: 2em;

  text-decoration: none;
}

#menu li a:hover {
  background-color: #41e600;
}

#navigation {
  display: inline-block;
  vertical-align: middle;
}

.form {
  width: 90%;
  margin: 0 auto;
}

hr {
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color:#000000;
  border: 0 none;
}

.form h3 {
  margin-bottom: 0;
}

